@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 162, 5%, 59%;
  --background-start-hsl: 206, 37%, 96%;
  --background-end-hsl: 211, 21%, 24%;
}

html, body {
  color: hsl(var(--background-end-hsl));
  color: hsl(var(--background-end-hsl));
  background: hsl(var(--background-end-hsl));
} 

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.tab-content {
  transition: opacity 300ms ease-in-out;
  opacity: 1; /* default state */
}

.tab-content.hidden {
  opacity: 0;
  display: none; /* hide the content */
}
