@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 146, 156, 153;
  --background-start-rgb: 146, 156, 153;
  --background-end-rgb: 146, 156, 153;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html, body {
  color: rgb(var(--background-start-rgb));
  color: rgb(var(--background-start-rgb));
  background: rgb(var(--background-start-rgb));
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.tab-content {
  transition: opacity 300ms ease-in-out;
  opacity: 1; /* default state */
}

.tab-content.hidden {
  opacity: 0;
  display: none; /* hide the content */
}
